@charset "UTF-8";

.fit-easy, .thedot, .consolp span {
    background: url(../img/abico.png) no-repeat;
    _background: url(../img/abico_8.png) no-repeat;
}

.engname {
    color: #999999;
    font-family: arial;
    font-size: 14px;
}

/*个人中心、关于我们侧边栏*/
.user-nav li {
}

.user-nav .active, .user-nav li:hover {
    border-left: 4px solid #ff5500;
    margin-left: -4px;
}

.user-nav .active a, .user-nav a:hover {
    background-color: #f8f8f8;
    color: #ff5500;
}

.user-nav a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
    border-top: 1px solid #ddd;
    margin-top: -1px;
}

.user-nav .g-icon {
    margin-right: 10px;
}

/*about us*/
.about-cont {
    padding-top: 20px;
}

.ab-sidebar {
    float: left;
    width: 180px;
    border: 1px solid #eeeeee;
}

.about-cont .page-article, .about-cont .ab-article {
    float: right;
    width: 795px;
    padding-bottom: 40px;
    border: 1px solid #eeeeee;
}

.ab-article {
    font-size: 14px;
}

.ceo-intro {
    position: relative;
    zoom: 1;
    height: 371px;
    padding: 50px 70px 0 310px;
    background: url(../img/ceo_bg.png) center bottom no-repeat;
}

.ceo-intro img {
    position: absolute;
    left: 60px;
    top: 40px;
}

.ceo-intro h2 {
    font-size: 32px;
}

.ceo-intro h3 {
    font-size: 24px;
}

.vp-intro {
    margin-top: 50px;
    text-align: center;
}

.kernel-intro {
    margin-top: 50px;
    text-align: center;
}

.linetlt {
    margin: 0 60px;
    height: 1px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    zoom: 1;
}

.linetlt h2 {
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -80px;
    padding: 0 10px;
    background-color: #ffffff;
    font-size: 25px;
}

.kernel-list {
    padding-top: 60px;
}

.kernel-list li {
    float: left;
    width: 180px;
    padding-bottom: 20px;
    margin-left: 70px;
    display: inline;
}

.kernel-list li h3 {
    font-size: 24px;
    font-size: 24px;
}

.ceo-intro h3 p {
    padding-bottom: 10px;
}

.kernel-list .intro-text {
    text-align: left;
    margin-top: 10px;
    padding-left: 10px;
}

.kernel-list .photo {
    width: 180px;
    height: 180px;
}

.kernel-list .photo img {
    width: 180px;
    height: 180px;
}

.photowall {
    margin: 0 auto;
    width: 775px;
    padding-top: 20px;
}

.family-intro {
    padding-top: 40px;
}

.creed {
    padding-top: 30px;
    line-height: 25px;
    text-align: center;
    color: #333333;
}

.nophoto {
    background: url(../img/nophoto.png);
    width: 180px;
    height: 180px;
}

.kernel-intro .kernel-list li {
    width: 150px;
    margin-left: 30px;
    margin-right: 10px;
    padding-bottom: 60px;
}

.kernel-intro .kernel-list .photo {
    width: 150px;
    height: 150px;
}

.kernel-intro .kernel-list .photo img {
    width: 150px;
    height: 150px;
}

.kernel-intro .kernel-list .line-feed {
    margin-left: 130px;
}

/*about gjj*/
.aboutgjj .abtlt {
    font-size: 24px;
}

.aboutgjj {
    background: url(../img/about_img1.jpg) center top no-repeat;
    width: 765px;
    height: 410px;
    padding: 60px 0 0 30px;
}

.aboutgjj * {
    width: 340px;
}

.aboutgjj p {
    line-height: 22px;
    padding-top: 30px;
    text-indent: 28px;
}

.our-attitude p {
    line-height: 25px;
}

.sevprice {
    position: absolute;
    left: 220px;
    top: 280px;
    width: 380px;
}

.sevwork {
    position: absolute;
    left: 50px;
    top: 425px;
    width: 180px;
}

.sevcheck {
    position: absolute;
    left: 170px;
    bottom: 50px;
    width: 380px;
}

.our-attitude {
    position: relative;
    zoom: 1;
    width: 795px;
    height: 690px;
    background: url(../img/about_img2.jpg) center top no-repeat;
}

.our-attitude .abtlt {
    position: absolute;
    left: 35px;
    top: 180px
}

.office-env {
}

.office {
    width: 795px;
    text-align: center;
    overflow: hidden;
}

.office img {
    max-width: 795px;
}

.fit-easy {
    margin: 30px auto 0;
    background-position: -430px -219px;
    width: 170px;
    height: 33px;
    line-height: 200;
    overflow: hidden;
    zoom: 1;
}

/*joinus*/
.joinus-banner {
    display: block;
    margin: 1px 0 0 1px;
    background: url(../img/jionbanner.jpg) no-repeat;
    width: 793px;
    height: 430px;
    line-height: 200;
    overflow: hidden;
}

.invite-notice {
}

.post-title {
    float: left;
    width: 195px;
    margin-left: 20px;
    padding-top: 30px;
    display: inline;
}

.invtlt {
    position: relative;
    zoom: 1;
    margin-bottom: 10px;
    background-color: #57c7be;
    padding-right: 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    color: #ffffff;
    text-align: right;
}

.invtlt span {
    display: block;
    position: absolute;
    right: -6px;
    top: 13px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 8px solid #57c7be;
    border-bottom: 6px solid transparent;
}

.post-title p {
    text-align: right;
}

.notice-int {
    float: right;
    width: 530px;
    padding-left: 30px;
    padding-top: 30px;
    border-left: 1px solid #eeeeee;
    position: relative;
    zoom: 1;
}

.noticecont {
    padding-bottom: 20px;
    color: #333333;
}

.noticecont dt {
    font-weight: bold;
}

.thedot {
    position: absolute;
    left: -10px;
    top: 40px;
    display: block;
    width: 19px;
    height: 19px;
    background-position: 0 -40px;
}

/*contactus*/
.contactus {
    padding: 40px;
}

.contactus h2 {
    padding-bottom: 10px;
}

.contactus h3 {
    color: #57c7be;
    font-family: simsun;
    font-weight: bold;
}

.contact-ways {
    padding: 30px 0;
}

.contact-social {
    float: left;
    width: 310px;
    margin-right: 30px;
    display: inline;
}

.consolp {
    position: relative;
    zoom: 1;
    padding-left: 50px;
    padding-bottom: 15px;
}

.consolp span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

.consolp span.addreico {
    background-position: -140px 0;
}

.consolp span.phoico {
    background-position: -180px 0;
}

.consolp span.emailico {
    background-position: -560px -110px;
}

.consolp span.weixinico {
    background-position: -560px -150px;
}

.consolp strong, .sociallist li strong {
    color: #333333;
}

.contact-map {
    float: left;
    width: 375px;
    height: 280px;
}

.sevihz h2 {
    padding-left: 15px;
}

.sociallist {
    overflow: hidden;
    zoom: 1;
}

.sociallist li {
    float: left;
    width: 210px;
    padding-left: 50px;
    border-left: 1px solid #eeeeee;
    margin-left: -35px;
}

/*article*/
.page-article {
    line-height: 2
}

.page-article ul {
    margin-left: 2em
}

.page-article h2 {
    padding: 30px 0;
    text-align: center;
    font-size: 28px;
}

.page-article-content {
    padding: 20px 30px;
}

.page-article-content h3 {
    font-size: 14px;
    font-weight: bold;
    font-family: "Tahoma", "Arial", "Helvetica", "宋体", "SimSun", "STXihei", "华文细黑", sans-serif
}

.page-article-content p {
    margin: 1em 0;
}







