{% extends 'layout1.html' %}

{% block main_content %}
    <div class="operate-bar">
    </div>
    <form action="#" class="frm" rel="async" method="post" enctype="multipart/form-data">
        <table class="frm-tbl">
            <caption>添加机器</caption>
            <tbody>
            <tr>
                <td class="col-label">机器编号</td>
                <td class="col-content">
                    <input type="text" class="small-txt" name="server_no"/>
                </td>
            </tr>
            <tr>
                <td class="col-label">机器名称</td>
                <td class="col-content">
                    <input type="text" class="small-txt" name="server_name"/>
                </td>
            </tr>
            <tr>
                <td class="col-label">机器IP</td>
                <td class="col-content">
                    <input type="text" class="small-txt" name="server_ip"/>
                </td>
            </tr>
            <tr>
                <td class="col-label">项目</td>
                <td class="col-content">
                    <select name="project_id">
                        {% for project in project_list %}
                            <option value="{{ project.id }}">{{ project.project_name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="col-label">环境</td>
                <td class="col-content">
                    <select name="env_id">
                        {% for env in env_list %}
                            <option value="{{ env.id }}">{{ env.env_name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="col-action">
                    <input type="submit" value="创建" class="btn btn-primary">

                </td>
            </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
