{% extends 'layout1.html' %}

{% block main_content %}
    <div class="operate-bar">
        <a href="{{ url_for('ctrl.server_edit',server_id=' ') }}" class="btn" rel="popup" data-width="700">添加机器</a>
    </div>
    <table class="data-tbl" data-empty-fill="1">
        <thead>
        <tr>
            <th>机器ID</th>
            <th>机器编号</th>
            <th>机器IP</th>
            <th>机器项目</th>
            <th>机器环境</th>
        </tr>
        </thead>
        <tbody>
        {% if(server_list|length>0) %}
            {% for server in server_list %}
                <tr>
                    <td>{{ server.id }}</td>
                    <td>{{ server.server_no }}</td>
                    <td>{{ server.server_ip }}</td>
                    <td>{{ server.project_id }}</td>
                    <td>{{ server.env_id }}</td>

                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
